Repository caiopizzol/fipe-data-pipeline: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{json,md,yaml,yml}": ["pnpm exec prettier --write"]
}

feat: add optional FIPE_PROXY for proxy-routed egress
  src/config.ts
  src/fipe/client.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: move port binding to environment variables with sensible defaults
  .env.example
  docker-compose.yml
  drizzle.config.ts
  src/config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: run crawler service on docker compose
  .env.example
  Dockerfile.migrate
  README.md
  docker-compose.yml
Due: pnpm exec prettier --write

fix: bind postgres to localhost and require explicit password
  .env.example
  docker-compose.yml
Due: pnpm exec prettier --write

chore(release): 1.12.0 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  9c0b9a186c6103be2076b2d8390095175d2da4c6
Due: none

feat: add backup command (pg_dump to S3/R2) with retention and restore drill
  Dockerfile
  README.md
  bun.lock
  package.json
  src/backup.ts
  src/config.ts
  src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat: add backup command (pg_dump to S3/R2) with retention and restore drill (#4)
  Dockerfile
  README.md
  bun.lock
  package.json
  src/backup.ts
  src/config.ts
  src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): 1.13.0 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  e78f45ad48389be610892ac1919beff266c95e5c
Due: none

test: add pickled coverage
  .github/workflows/pickled.yml
  fixtures/pickled/targeted-crawl.solution.patch
  fixtures/pickled/targeted-crawl/README.md
  fixtures/pickled/targeted-crawl/tests/verify-targeted-crawl.sh
  pickled.yml
Due: pnpm exec prettier --write

test: add pickled coverage (#5)
  .github/workflows/pickled.yml
  fixtures/pickled/targeted-crawl.solution.patch
  fixtures/pickled/targeted-crawl/README.md
  fixtures/pickled/targeted-crawl/tests/verify-targeted-crawl.sh
  pickled.yml
Due: pnpm exec prettier --write

docs: add agent-facing pickled context
  llms.txt
  pickled.yml
Due: pnpm exec prettier --write

docs: add agent-facing pickled context (#6)
  llms.txt
  pickled.yml
Due: pnpm exec prettier --write

feat: add monthly refresh command with publication guard
  .env.example
  README.md
  initial.sql
  migrations/001_published_at.sql
  package.json
  src/config.ts
  src/crawler/processor.ts
  src/crawler/reference.test.ts
  src/crawler/reference.ts
  src/crawler/refresh.test.ts
  src/crawler/refresh.ts
  src/db/connection.ts
  src/db/repository.ts
  src/db/schema.ts
  src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): 1.14.0 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  bed95cb629363ba56e8faf5c4d120387b1cef334
Due: none

fix: guard migration grants, silence lock-held healthcheck pings
  Dockerfile
  README.md
  docker-compose.yml
  migrations/001_published_at.sql
  src/crawler/refresh.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): 1.14.1 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  2aaa7f3632ce47be8a374474f2fa808204783870
Due: none

docs: detach refresh cron command around Moor's 10-minute exec timeout
  README.md
Due: pnpm exec prettier --write

chore: configure Cubic code review
  .cubic/agents/pickled-context-integrity.md
  .github/CODEOWNERS
  cubic.yaml
Due: pnpm exec prettier --write

chore(cubic): configure AI code review
  .github/CODEOWNERS
  cubic.yaml
Due: pnpm exec prettier --write

chore(cubic): configure AI code review (#8)
  .github/CODEOWNERS
  cubic.yaml
Due: pnpm exec prettier --write

chore(cubic): simplify review configuration
  cubic.yaml
Due: pnpm exec prettier --write

chore(cubic): simplify review configuration (#9)
  cubic.yaml
Due: pnpm exec prettier --write

fix: prevent refresh shutdown hang
  src/db/connection.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test: add root validation path
  .github/workflows/ci.yml
  README.md
  llms.txt
  package.json
Due: pnpm exec prettier --write

test(ci): add root validation path (#11)
  .github/workflows/ci.yml
  README.md
  llms.txt
  package.json
Due: pnpm exec prettier --write

chore: upgrade to TypeScript 7
  bun.lock
  package.json
  tsconfig.json
Due: pnpm exec prettier --write

chore(typescript): upgrade to TypeScript 7 (#12)
  bun.lock
  package.json
  tsconfig.json
Due: pnpm exec prettier --write

chore: migrate toolchain to Vite+
  .github/workflows/ci.yml
  .vite-hooks/pre-commit
  README.md
  biome.json
  bun.lock
  docker-compose.yml
  drizzle.config.ts
  lefthook.yml
  package.json
  pickled.yml
  src/backup.ts
  src/classifier/segment-classifier.ts
  src/config.ts
  src/crawler/processor.ts
  src/crawler/reference.test.ts
  src/crawler/reference.ts
  src/crawler/refresh.test.ts
  src/crawler/refresh.ts
  src/db/connection.ts
  src/db/repository.ts
  src/db/schema.ts
  src/fipe/client.ts
  src/fipe/schemas.ts
  src/fipe/types.ts
  src/index.ts
  vite.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(db): prevent refresh shutdown hang (#10)
  src/db/connection.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(tooling): migrate to Vite+ (#13)
  .github/workflows/ci.yml
  .vite-hooks/pre-commit
  README.md
  biome.json
  bun.lock
  docker-compose.yml
  drizzle.config.ts
  lefthook.yml
  package.json
  pickled.yml
  src/backup.ts
  src/classifier/segment-classifier.ts
  src/config.ts
  src/crawler/processor.ts
  src/crawler/reference.test.ts
  src/crawler/reference.ts
  src/crawler/refresh.test.ts
  src/crawler/refresh.ts
  src/db/connection.ts
  src/db/repository.ts
  src/db/schema.ts
  src/fipe/client.ts
  src/fipe/schemas.ts
  src/fipe/types.ts
  src/index.ts
  vite.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(release): allow semantic-release npm command
  package.json
Due: pnpm exec prettier --write

fix(release): allow semantic-release npm command (#14)
  package.json
Due: pnpm exec prettier --write

fix(tooling): skip hook without dev dependencies
  .vite-hooks/pre-commit
Due: none

fix(tooling): skip hook without dev dependencies (#15)
  .vite-hooks/pre-commit
Due: none

docs(product): map pipeline scope and capabilities
  PRODUCT.md
Due: pnpm exec prettier --write

docs(features): map classification preview
  FEATURE_MAP.md
Due: pnpm exec prettier --write
