Repository caiopizzol/fipe-data-pipeline: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  4045f67b65ed1f93a65e1bfa44a1be180e749802
Due: none

chore: prettier format
  docker-compose.yml
  drizzle.config.ts
  src/classifier/segment-classifier.ts
  src/config.ts
  src/db/connection.ts
  src/db/repository.ts
  src/db/schema.ts
  src/fipe/client.ts
  src/fipe/schemas.ts
  src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: update readme.
  README.md
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  7fedf8583692c8ce483077cc5b6c7b375c1af6e5
Due: none

fix: ignore scripts arg
  Dockerfile
Due: none

Notes added by 'git notes add'
  170bc367780b6bb4a83e94a9ed9559ed08d2f448
Due: none

feat: month filter + entrypoint in dockerfile
  Dockerfile
  README.md
  src/crawler/processor.ts
  src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  e7928cc874b2a2f4bdee689079e3e24743ec58e8
Due: none

Notes added by 'git notes add'
  b2d61a80eba735fe4e8a344be03638acd4659e6d
Due: none

feat: new year and month range filter flags
  README.md
  src/crawler/processor.ts
  src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  72549f5f6e96dd7c5a0036ba12b67410317ce93a
Due: none

chore(release): 1.4.0 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  1e3c638ab2ce9e97778086667b7d40711c6cadd2
Due: none

Notes added by 'git notes add'
  71fbb7e7d7fab7a0e81c87c2d4406bcddda052b0
Due: none

fix: adjust rate limit
  src/fipe/client.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  de0bacddd8ab7233e5ddf9759c9807f539cc84da
Due: none

fix: better recovery strateg
  src/fipe/client.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  55c4efac3b39c9d357a90b6dc3914900fcafadfd
Due: none

fix: adjust throttle
  src/fipe/client.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  13b89fafe10281764e12b13c2126b89625a12c1e
Due: none

fix: increase rate limit interval suggestion
  .env.example
  src/config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  cb964520b91201566760a9d659c59a3ca9b9dbcf
Due: none

feat: accept comma sep models
  README.md
  src/crawler/processor.ts
  src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): 1.6.0 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  427015327a7c7e860f95979200a3bfa9c361251d
Due: none

Notes added by 'git notes add'
  be6cf3e6d15291aaa06655a98bccc349a96732ce
Due: none

chore(release): 1.8.0 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  b8f182dbafea814381225536222faa721a8e8609
Due: none

chore(release): 1.9.0 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  323d4d032178e62fa2f2c6fdf3d23c91459748a4
Due: none

Notes added by 'git notes add'
  261c3b84ebf40cf255454cf2afdecdb708b2f04f
Due: none

fix: remove brand crawled at
  initial.sql
  src/crawler/processor.ts
  src/db/repository.ts
  src/db/schema.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  afd550f96245a78fac241c8959cd25e13ab88a23
Due: none

chore(release): 1.11.0 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  0f10b1441901d31af8229340c932de7c4ac34cd7
Due: none

docs: simplify README to match brand voice
  README.md
Due: pnpm exec prettier --write

docs: update README with brand voice and fix stale pnpm refs
  README.md
Due: pnpm exec prettier --write

fix: getStats bug, dead code, retry logic, CI, and type drift
  .env.example
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  src/db/repository.ts
  src/fipe/client.ts
  src/fipe/types.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): 1.11.1 [skip ci]
  package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  85c047046d984fcb49ead849611a61038149adb4
Due: none

Path conditions:
  pnpm exec eslint --fix: any of: *.{js,ts}
  pnpm exec prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yaml,yml})
